* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header-1 {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

#logo {
  height: 5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
header ul {
  float: right;
  margin: 2rem;
}
header ul li {
  display: inline;
}
header ul li a {
  text-decoration: none;
  color: #920101;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}
header ul li a:hover {
  text-decoration: underline;
}
nav {
  z-index: 1;
  position: sticky;
  top: 0;
  height: 5rem;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}
nav ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-top: 2rem;
  margin-left: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "DynaPuff", cursive;
}
nav ul li a:hover {
  color: white;
}
main section img {
  width: 100%;
  position: relative;
}
span {
  position: relative;
  bottom: 35rem;
  left: 15rem;
}
#span-1 {
  font-size: 2rem;
  color: white;
  font-family: "Open Sans", sans-serif;
}
#span-2 {
  color: #ff0000;
  font-family: "Open Sans", sans-serif;
}
#last-a {
  color: black;
  text-decoration: none;
  position: relative;
  bottom: 35rem;
  left: 15rem;
  background-color: #d9afd9;
  padding: 1rem;
  display: inline-block;
  width: 8rem;
  text-align: center;
  border-radius: 1rem;
}
#last-a:hover {
  opacity: 0.5;
}
p {
  margin: auto;
  text-indent: 1rem;
  font-family: "Open Sans", sans-serif;
  width: 50rem;
}
